.titulo{
    padding-left: 5%;
}
body hr {
    height: 5px;
   background-color: rgb(15, 203, 255);
}

.bod{
    background: url(https://img.freepik.com/free-vector/colorful-vintage-retro-background_36662-1295.jpg?w=2000);
}
.carrusel_element{

    background-color: white;
    margin-left:   1%;
    border-radius: 5px;
    max-width: 400px;
}
.carrusel_element >img{
    margin: 0 0 ;
    max-height: 300px;
}


/*clase de telas  --------------------------------------------------------------------------------------*/
    
.material{
    margin-top: 15px;
    border:  5px solid  black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

